<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<body class="custom-body">
    <div class="form-container">
        <form [formGroup]="registerForm" (ngSubmit)="validatePassword()">
            <div class="input-container">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nombre" class="input-field" formControlName="name" required>
            </div>
          
            <div class="input-container">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Apellido" class="input-field" formControlName="last_name" required>
            </div>

            <div class="input-container">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Documento" class="input-field" formControlName="document" required>
              </div>
          
            <div class="input-container">
              <i class="fas fa-phone"></i>
              <input type="tel" class="input-field" placeholder="Celular" formControlName="phone" required>
            </div>
          
            <div class="input-container">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Correo" class="input-field" formControlName="email" required>
            </div>
          
            <div class="input-container">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" class="input-field" formControlName="password" required>
            </div>
          
            <div class="input-container">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Confirmar contraseña" class="input-field" formControlName="confirmPassword" required>
            </div>
          
            <p id="password-error" class="error-message"></p>
    
            <button type="submit" class="submit-button">Guardar</button>
            <a href="login.html" class="account-link " >Ya tengo una cuenta</a>
        </form>
    </div>
    
</body>