<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<body class="custom-body">
    <div class="form-container">
        <form action="#" method="POST" onsubmit="return validatePassword()">
            <h3 class="text">Crea tu cuenta</h3>
        
            <div class="input-container">
                <i class="fas fa-user"></i>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="input-field" required>
            </div>

            <div class="input-container">
                <i class="fas fa-user"></i>
              <input type="text" id="apellido" name="apellido" placeholder="Apellido" class="input-field" required>
            </div>
            
            <div class="input-container">
                <i class="fas fa-phone"></i>
                <input type="tel" id="celular" name="celular" class="input-field" placeholder="Celular" required>
            </div>
    
            <div class="input-container">
                <i class="fas fa-envelope"></i>
                <input type="email" id="correo" name="correo" placeholder="Correo" class="input-field" required>
            </div>
    
            <div class="input-container">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Contraseña" class="input-field" required>
            </div>
    
            <div class="input-container">
                <i class="fas fa-lock"></i>
             <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirmar contraseña" class="input-field" required>
            </div>
    
            <p id="password-error" class="error-message"></p>
    
            <button type="submit" class="submit-button">Guardar</button>
            <a href="login.html" class="account-link " >Ya tengo una cuenta</a>
        </form>
    </div>
    
</body>