<div class="container">
    <h2>Seleccionar Método de Autenticación</h2>
    <select [(ngModel)]="selectedAuthMethod" (change)="onAuthMethodChange()">
      <option value="google">Google</option>
      <option value="facebook">Facebook</option>
      <option value="github">GitHub</option>
      <option value="local">BD Local</option>
    </select>
    
    <button *ngIf="selectedAuthMethod !== 'local'" (click)="login()">Iniciar sesión con {{ selectedAuthMethod | titlecase }}</button>
    

<table *ngIf="users.length">
  <thead>
    <tr>
      <th *ngIf="selectedAuthMethod === 'local'">Documento</th>
      <th *ngIf="selectedAuthMethod === 'local'">Nombre</th>
      <th *ngIf="selectedAuthMethod === 'local'">Apellido</th>
      <th>Email</th>
      <th *ngIf="selectedAuthMethod !== 'local'">Proveedor</th>
      <th *ngIf="selectedAuthMethod === 'local'">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td *ngIf="selectedAuthMethod === 'local'">{{ user.document }}</td>
      <td *ngIf="selectedAuthMethod === 'local'">{{ user.name }}</td>
      <td *ngIf="selectedAuthMethod === 'local'">{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td *ngIf="selectedAuthMethod !== 'local'">{{ user.provider }}</td>
      <td *ngIf="selectedAuthMethod === 'local'" class="local-actions">
        <button class="edit" (click)="editUser(user)">Editar</button>
        <button class="delete" (click)="deleteUser(user.document)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

    <p *ngIf="!users.length" class="no-users-message">No hay usuarios disponibles.</p>
  </div>
  